@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap");

:root {
  --primary: #e8315d;
  --secondary: #979797;
  --dark: #333;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  padding: 2rem;
  background-image: url("https://images.unsplash.com/photo-1521590832167-7bcbfaa6381f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  height: 100%;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

section.signin-container form {
  width: 20rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  border-radius: 5px;
}

section.signin-container form h1 {
  margin-bottom: 2rem;
}

input {
  background-color: #f0f0fd;
  color: var(--secondary);
  border: 1px solid #bbb4;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  width: 100%;
}

input + input {
  margin-top: 0.75rem;
}

input::-webkit-input-placeholder {
  font-weight: 600;
}

button {
  cursor: pointer;
  background-color: var(--primary);
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.75rem;
  text-align: center;
  margin: 1rem 0;
}

section.signin-container p {
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  color: var(--secondary);
}

section.signin-container a {
  color: var(--primary);
}
