:root {
  --primary: #e8315d;
  --secondary: #979797;
  --dark: #333;
}

.spot-container {
  padding: 1rem;
  width: 100%;
  background-color: #fafafd;
}

.spot-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spot-cards {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin-top: 1rem;
}

.spot-card {
  background-color: #fff;
  border: 1px solid #eeeeee;
  padding: 1.5rem;

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
}

.spot-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spot-card h2 {
  font-size: 20px;
}

.spot-card h3 {
  font-size: 16px;
  font-weight: 300;
}

.spot-card p {
  color: var(--primary);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .spot-container {
    padding: 1rem 1.5rem;
  }

  .spot-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .spot-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
