@import url("https://fonts.googleapis.com/css?family=Montserrat:300");

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  margin: auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0.83rem 0;
}
