@layout('layout.master')

@section('content')
<div class="container">
  <div class="profile-header">
    <img src="https://images.unsplash.com/photo-1559599076-9c61d8e1b77c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
    <h1>Yasmin Braga</h1>
  </div>
  <div class="profile-info">

  </div>
</div>
@endsection